Repository the-programmers-hangout/QuestionBot, pull requests merged in 2019-10, with the labels that each got.

#49 feature(0.0.0): add commands to convert questions / answers
  .github/assets/commands/convertanswer-example-1.PNG
  .github/assets/commands/convertquestion-example-1.PNG
  .github/assets/commands/convertquestion-example-2.PNG
  commands.md
  docs/command-manage.md
  src/main/kotlin/com/supergrecko/questionbot/commands/ManageCommands.kt
Labels: scope:dev, type:feature

#51 dependencies(0.1.1): Update KUtils to 0.11.2
  pom.xml
  src/main/kotlin/com/supergrecko/questionbot/QuestionBot.kt
  src/main/kotlin/com/supergrecko/questionbot/commands/AnswerCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/commands/ManageCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/commands/QuestionCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/commands/UtilityCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/listeners/MessageReceiveListener.kt
  src/main/kotlin/com/supergrecko/questionbot/listeners/ReadyListener.kt
  src/main/kotlin/com/supergrecko/questionbot/services/BootService.kt
  src/main/kotlin/com/supergrecko/questionbot/services/InfoService.kt
Labels: scope:dev, type:refactor

#52 feature(0.1.1): Error if config is not valid
  src/main/kotlin/com/supergrecko/questionbot/QuestionBot.kt
  src/main/kotlin/com/supergrecko/questionbot/commands/AnswerCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/commands/ManageCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/dataclasses/GuildChannels.kt
  src/main/kotlin/com/supergrecko/questionbot/extensions/CommandEvent.kt
  src/main/kotlin/com/supergrecko/questionbot/preconditions/ConfigPrecondition.kt
  src/main/kotlin/com/supergrecko/questionbot/preconditions/PermissionCondition.kt
  src/main/kotlin/com/supergrecko/questionbot/services/QuestionService.kt
Labels: scope:dev, type:feature

#53 refactor(0.1.1): Clean up code inside Services
  src/main/kotlin/com/supergrecko/questionbot/arguments/QuestionArg.kt
  src/main/kotlin/com/supergrecko/questionbot/commands/AnswerCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/commands/ManageCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/dataclasses/AnswerImpl.kt
  src/main/kotlin/com/supergrecko/questionbot/dataclasses/GuildImpl.kt
  src/main/kotlin/com/supergrecko/questionbot/dataclasses/LogChannels.kt
  src/main/kotlin/com/supergrecko/questionbot/services/AnswerService.kt
  src/main/kotlin/com/supergrecko/questionbot/services/ConfigService.kt
  src/main/kotlin/com/supergrecko/questionbot/services/LogService.kt
  src/main/kotlin/com/supergrecko/questionbot/services/QuestionService.kt
  src/main/kotlin/com/supergrecko/questionbot/services/VisibilityService.kt
Labels: scope:dev, type:refactor

#54 ci(0.1.2): Update to 0.1.2
  docs/deployment.md
Labels: scope:docs

#55 docs: add discord account docs
  .github/assets/discord-setup/app-setup.png
  .github/assets/discord-setup/bot-setup.png
  .github/assets/discord-setup/oauth-setup.png
  .github/assets/discord-setup/oauth.png
  README.md
  docs/command-manage.md
  docs/commands-utility.md
  docs/discord-setup.md
Labels: scope:docs

#56 deps(0.1.2): Upgrade to KUtils 0.12.0
  commands.md
  pom.xml
  src/main/kotlin/com/supergrecko/questionbot/QuestionBot.kt
  src/main/kotlin/com/supergrecko/questionbot/arguments/QuestionArg.kt
  src/main/kotlin/com/supergrecko/questionbot/commands/AnswerCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/commands/ManageCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/commands/QuestionCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/commands/UtilityCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/extensions/Command.kt
  src/main/kotlin/com/supergrecko/questionbot/extensions/CommandEvent.kt
  src/main/kotlin/com/supergrecko/questionbot/services/ConfigService.kt
  src/main/kotlin/com/supergrecko/questionbot/services/LogService.kt
  src/main/kotlin/com/supergrecko/questionbot/services/VisibilityService.kt
Labels: scope:dev, type:refactor

#57 refactor(0.1.2): Clean up unused code after KUtils upgrade
  src/main/kotlin/com/supergrecko/questionbot/commands/AnswerCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/commands/ManageCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/commands/QuestionCommands.kt
  src/main/kotlin/com/supergrecko/questionbot/services/ConfigService.kt
  src/main/kotlin/com/supergrecko/questionbot/tools/Arguments.kt
Labels: scope:dev, type:refactor
